.pokemon_list {
    list-style: none;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}

.custom_image {
    display: flex;
    width: 100px;
}

@media (max-width: 768px) {
    .custom_image {
        width: 100px;
    }
}



